%h1
  = @notebook.title
  Notes

%ul
  - @notebook.notes.each do |note|
    %li
      = note.title
      %ul
        %li= link_to 'Show', note
        %li= link_to 'Edit', edit_note_path(note)
        %li= link_to 'Destroy', note, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %li= link_to 'New Note', new_notebook_note_path
