%p#notice= notice

%p
  %b Title:
  = @note.title
%p
  %b Body:
  = @note.body
- if @note.image.file?
  .image
    = image_tag @note.image.url(:medium)

= link_to 'Edit', edit_note_path(@note)
\|
= link_to 'Back', notebook_notes_path(@note.notebook)
